% -*- erlang -*-

{require_otp_vsn, "R15"}.

{deps, [
    {jiffy, ".*",
        {git, "git://github.com/davisp/jiffy.git", "master"}
    },
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git", "master"}
    },
    {cowboy, ".*",
        {git, "git://github.com/extend/cowboy.git", "master"}
    },
    {sockjs, ".*",
        {git, "git://github.com/sockjs/sockjs-erlang.git", "master"}
    }
]}.
