% -*- erlang -*-

{require_otp_vsn, "R15"}.

{deps, [
    {gproc,  ".*", {git, "git://github.com/uwiger/gproc.git",  "master"}},
    {jiffy,  ".*", {git, "git://github.com/davisp/jiffy.git",  "master"}},
    {sync,   ".*", {git, "git://github.com/rustyio/sync.git",  "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {bullet, ".*", {git, "git://github.com/extend/bullet.git", "master"}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}}
]}.
